.img-div{
    width: 200px;
    height: auto;
    object-fit: cover;
    
}

.mat-column-Foto {
    max-width: 30px;
  }
  .example-first-header-row th {
    border-bottom: none;
  }
  
.block{
  display: block !important;
}

.end{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}