<div class="p-3 ">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-xl-3"></div>
    <div class="col-sm-5 col-md-5 col-xl-5 text-center">
      <h1>Perfil de afiliado</h1>
    </div>
    <div class="col-sm-4 col-md-4 col-xl-4 sd">
      <div class="row">
        <div class="col-12  text-end">"OTB" Barrio Universitario Alto</div>
        <div class="col-12  text-end font-10 m-0">Avenida Petrolera Km 3 1/2</div>
        <div class="col-12  text-end font-10 m-0">Cochabamba - Bolivia</div>
      </div>
      <img src="../../../assets/icons/logo.png" style="margin-left: 5px;" width="50" height="50" alt="">
    </div>
  </div>

 <div class="p-2 icons">
  <div class="row ">
    
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-xl-3">
      <div class="img pt-4">
        <img src="./../../../assets/img/avatar.jpg" width="100%" alt="">
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-xl-9">
      <div class="pt-4">
        <ul class="list-group">
          <li class="list-group-item">Nombre</li>
          <li class="list-group-item disabled" aria-disabled="true">Brian</li>
          <li class="list-group-item">Apellido Completo</li>
          <li class="list-group-item disabled" aria-disabled="true">Fernandez Mercado</li>
          <li class="list-group-item">Carnet de Identidad</li>
          <li class="list-group-item disabled" aria-disabled="true">14696249</li>
          <li class="list-group-item">Celular</li>
          <li class="list-group-item disabled" aria-disabled="true">694890252</li>
          <li class="list-group-item">Telefono</li>
          <li class="list-group-item disabled" aria-disabled="true">694890252</li>
          <li class="list-group-item">Ubicación</li>
          <li class="list-group-item disabled" aria-disabled="true">Avenida Petrolera Km 3 1/2</li>
          <li class="list-group-item">Correo Electronico</li>
          <li class="list-group-item disabled" aria-disabled="true">brianxmister@gmail.com</li>
          <li class="list-group-item">Calle</li>
          <li class="list-group-item disabled" aria-disabled="true">Calle 2</li>
          <li class="list-group-item">N° de Domicilio</li>
          <li class="list-group-item disabled" aria-disabled="true">0000</li>
        </ul>
      </div>
    </div>
  </div>
 </div>

</div>