<div class="p-3">
  <div class="row">
    <div class="col-sm-8 col-xl-8 col-md-8 border" *ngIf="!select">
      <form class="example-form">
        <mat-form-field class="example-full-width w-100" >
          <mat-label>Busca Afiliado</mat-label>
          <input type="text"
                 placeholder="C.I"
                 aria-label="Busca al afiliado"
                 matInput
                 [formControl]="stateCtrl"
                 [matAutocomplete]="auto"
                 >
          <mat-autocomplete #seleccion (optionSelected)="onOptionSelected($event)" autoActiveFirstOption #auto="matAutocomplete">
            <mat-option  *ngFor="let state of filteredStates  | async" (click)="send(state)"  [value]="state.ci"  >
              <img alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;margin-right: 5px;" class="example-option-img" [src]="state.src_foto" height="25">
        <span>{{state.nombre}} {{state.apellido}}</span> |
        <small>{{state.ci}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>

      <div class="col-sm-8 col-xl-8 col-md-8 border" *ngIf="select">
        <div class="row border">
          <div  class="d-flex col-1 col-sm-1 col-md-1 col-xl-1 p-0 center-center " ></div>
          <div class="col-10 col-ms-10 col-xl-10 col-md-10 p-0">
            <ul class="list-group list-group-flush m-auto">
              <li class="list-group-item d-flex justify-content-start">
                <button class="btn bg-danger text-light" (click)="removed()">
                  <svg  class="  cursor" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                  Atras
                </button>
                <button (click)="handleDateClick()" style="margin-left: 10px;" class="btn bg-success text-light">   <svg  class="  cursor" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                  <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                </svg> Añadir rol</button>

              </li>
              <li class="list-group-item m-auto"><img src="{{select.src_foto}}" style="width: 100%;height: 250px;" alt=""></li>
            </ul>

          </div>
          <div  class="d-flex col-1 col-sm-1 col-md-1 col-xl-1 p-0 center-center " ></div>
          <div class="col-1 col-sm-1 col-md-1 col-xl-1 p-0 center-center  text-light cursor" >

          </div>
          <div class="col-10 col-ms-10 col-xl-10 col-md-10 p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Nombre: </strong>{{select?.nombre}} {{select?.apellido}}</li>
              <li class="list-group-item"><strong>C.I: </strong>{{select?.ci}}</li>
              <li class="list-group-item"><strong>Calle: </strong>{{select?.calle}}</li>
              <li class="list-group-item"><strong>Celular: </strong>{{select?.celular}}</li>
              <li class="list-group-item"><strong>Telefono: </strong>{{select?.telefono || '-'}}</li>
              <li class="list-group-item"><strong>Dirección: </strong>{{select?.direccion || '-'}}</li>
              <li class="list-group-item"><strong>Correo: </strong>{{select?.email || '-'}}</li>
            </ul>
          </div>
          <div  class="col-1 col-sm-1 col-md-1 col-xl-1 p-0 center-center text-light cursor" >

          </div>
        </div>
    </div>
    <div class="col-sm-4 col-xl-4 col-md-4 border">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 d-flex">
          <strong>Rsponsable:</strong><p class="m-0">{{user?.nombre}} {{user?.apellido}}</p>
        </div>
        <!-- <div class="col-sm-12 col-md-12 col-xl-12 d-flex">
          <strong>Cargo:</strong><p class="m-0">{{user?.cargo}}</p>
        </div> -->
        <div class="col-sm-12 col-md-12 col-xl-12 d-flex">
          <strong>C.I:</strong><p class="m-0">{{user?.ci}}</p>
        </div>
      </div>
    </div>
  </div>


  <!-- table -->

</div>


<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title">
                <svg style="margin-right: 5px; " xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                </svg>Añadir Rol</h3>
              <button (click)="closeModal()" type="button" class="btn-close" aria-label="Close">

              </button>
          </div>
          <div class="modal-body">
            <mat-form-field>
              <mat-label>Seleccione el rol </mat-label>
              <mat-select [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let list of listcargo" [value]="list.id">
                  {{list.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="modal-footer">
              <button (click)="closeModal()" type="button" class="btn btn-secondary"
                  data-dismiss="modal">Cerrar</button>
                  <button (click)="openSnackBar()" type="button" class="btn bg-success text-light"
                  data-dismiss="modal">Añadir</button>
              <!-- Add any other buttons you need -->
          </div>
      </div>
  </div>
</div>
