<div class="p-2" *ngIf="!result">
  <div mat-button mat-dialog-close><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
  </svg></div>
  <div class="row">

    <div class="col-sm-12 col-xl-12 col-md-12  p-3" *ngIf="!select">
        <form class="example-form">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Busca Afiliado</mat-label>
                <input type="text" placeholder="C.I" aria-label="Busca al afiliado" matInput
                    [formControl]="stateCtrl" [matAutocomplete]="auto">
                    <mat-autocomplete #seleccion (optionSelected)="onOptionSelected($event)" autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option  *ngFor="let state of filteredStates  | async" (click)="send(state)"  [value]="state.ci"  >
                        <img alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;margin-right: 5px;" class="example-option-img" src="https://api.otb.otbuniversitarioalto.us/{{state?.src_foto}}" height="25">
                  <span>{{state.nombre}} {{state.apellido}}</span> |
                  <small>{{state.ci}}</small>
                      </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
        </form>

    </div>

</div>
</div>
<!-- perfilencontrado -->

<div *ngIf="result" class="p-2">
  <div mat-button mat-dialog-close><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
  </svg></div>
  <div class="p-3">
    <div class="row">
      <h1>Afiliado encontrado</h1>
      <div class="col-auto col-xl-3 col-md-12 col-ms-12 col-xs-12  m-auto">
        <div class="imgbox m-auto d-flex">
          <img  src="https://api.otb.otbuniversitarioalto.us/{{userData?.src_foto}}" class=" m-auto img-div" alt="">
        </div>
      </div>
      <div class="col-auto col-xl-8 col-md-12 col-ms-12 col-xs-12  ">
        <div class="row">
          <div class=" col-xl-6 col-md-6 col-sm-6 col-xs-12 ">
            <p>Credenciales</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Nombre:</strong> {{userData?.nombre}} </li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Apellido:</strong> {{userData?.apellido}}</li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Dirección</strong> {{userData?.direccion}}</li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Calle:</strong> {{userData?.calle}}</li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Celular</strong> {{userData?.celular}}</li>
            </ul>
          </div>
          <div class=" col-xl-6 col-md-6 col-sm-6 col-xs-12 ">
            <p> </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-0 pb-2 pt-2"><strong>N° de domicilio:</strong> {{userData?.n_domicilio}} </li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Correo:</strong> {{userData?.email}}</li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Estado</strong> {{userData?.estado}}</li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Tipo:</strong> <p class="border-rad" [ngClass]="{'text-bg-danger':userData?.estado===0,'text-bg-success':userData?.estado===1}">{{userData?.estado ?
                'Activo' : 'No Activo' }}</p>  </li>
              <li class="list-group-item p-0 pb-2 pt-2"><strong>Telefono</strong> {{userData?.telefono}}</li>


            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="p-3">
      <div class="row">
        <div class="col-xl-8 col-md-6 col-sm-6">
          <div class="mb-3">
            <mat-form-field floatLabel="always">
              <mat-label>Aporte</mat-label>
              <input [(ngModel)]="bono" matInput type="number" class="example-right-align" placeholder="0">
              <span matTextPrefix>Bs.&nbsp;</span>
              <span matTextSuffix></span>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xl-2 col-sm-3 col-md-3 p-1">
          <button (click)="removed() "class="btn btn-danger">Cancelar</button>
        </div>
        <div class="col-xl-2 col-sm-3 col-md-3 p-1">
          <button (click)="add() "class="btn btn-success">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
