<div class="p-2">
  <div class="row escritorio">
    <div class="col-sm-12 col-md-12 col-c-12">
      <div *ngIf="data">
        <div class="row m-3" *ngIf="active">
          <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
          <p class="text-center">Descargando pdf.. {{ progress }}%</p>
        </div>

        <div class="row d-flex baseline p-2">
          <div class="col-auto">
            <input type="number" [(ngModel)]="repeatCount" placeholder="Ingrese el número de repeticiones">
          </div>
          <div class="col-auto">
            <p (click)="removed()" class="cursor"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
              </svg> Atras</p>
          </div>
          <div class="col-auto">
            <button (click)="download()" class="btn btn-warning"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
              </svg> Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pdf" class="captura-container escritorio">
    <div class="row  d-flex justify-content-between-evenly" style="justify-content: space-evenly;" *ngFor="let _ of generateRepeatArray() ">
      <div class="col-xl-6 col-md-12 col-sm-12 credential box d-relative" id="div1">
        <h5 class="text-center text-primary mt-3 mb-0">"OTB" Barrio Universitario Alto</h5>
        <p class="text-center text-primary m-0 h9">Credencial</p>

        <div class="container">
          <div class="row  p-1">

            <div class="col-5 col-md-5 col-sm-5 col-xl-5  ">
              <div *ngIf="data?.src_foto">
                <img [src]="imagenDataUrl" class="avatar m-auto ps-2 d-flex" alt="Imagen seleccionada">
                <div class="row m-auto">
                  <div class="col-md-12 col-sm-12 col-xl-12 m-auto ">
                    <p class=" text-center  m-auto" style="font-size: 10px;"><strong>C.I:</strong> {{data.ci}}</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-5 col-md-7 col-sm-7 col-xl-7 info-text">
              <p class="m-0"><strong>Nombre:</strong> {{data?.nombre}}</p>
              <p class="m-0"><strong>Apellido:</strong> {{data?.apellido}}</p>

              <p class="m-0 text-truncate" style="max-width: 150px;"><strong>Calle: </strong> <a>{{data?.calle}}</a>
              </p>
              <p class="m-0"><strong>Numero de Domicilio:</strong> {{data?.n_domicilio}}</p>
              <p class="m-0"><strong>Telefono:</strong> {{data?.telefono}}</p>
              <p class="m-0"><strong>Celular:</strong> {{data?.celular}}</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-6 col-md-12 col-sm-12 credentialPost box d-relative" id="div1">
        <h5 class="text-center text-primary mt-3 mb-0">"OTB" Barrio Universitario Alto</h5>

        <div class="container">
          <div class="row ">

            <div class="col-md-12 col-sm-12 col-xl-12  d-flex justify-content-center">
              <div>
                <qrcode [qrdata]="myAngularxQrCode" [width]="90" [errorCorrectionLevel]="'M'"></qrcode>

              </div>

            </div>
            <div class="col-md-12 col-sm-12col-xl-12  info-text ">
              <p class="m-0 text-center aling-center " *ngIf="data?.direccion">{{data?.direccion}}</p>
              <p class="m-0 text-center aling-center " *ngIf="!data?.direccion">OTB Universitario Alto</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="no-cel">
    <img src="./../../../assets/img/undraw_Alert_re_j2op.png" width="100%" alt="">
    <h1 class="display-2 text-center">Necesitas estar en un dispositivo de escritorio para descargar las credenciales</h1>
  </div>
</div>
