.credential{
    width: 500px;
    height: 320px;
    /* background-image: url(./../../../assets/img/credential.png); */
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;

}

.credentialPost{
  width: 500px;
  height: 320px;
  /* background-image: url(./../../../assets/img/credentialPost.png); */
  background-repeat: no-repeat;
  background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
}

.info-text > p> strong{
    color: black;
    font-family: sans-serif;
}
.info-text > p {
    color: rgb(48, 48, 48);

}
.avatar{
    width: auto;
    height: 170px;
    object-fit: cover;
   
}
.avatarQr{
  width: auto;
    height: 120px;
    
}
.icon-avatar
{
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 130px;
    opacity: 0.1;
}
.d-relative
{
    position: relative;
}