.credential{
  width: 9cm;
  height: 5cm;
    background-image: url(./../../../assets/icons/logoopa10.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
    background-size: 50%;
    background-position: center;
}

.credentialPost{
  width: 9cm;
  height: 5cm;
  background-image: url(./../../../assets/icons/logoopa10.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  background-size: 50%;
  background-position: center;
}

.info-text > p> strong{
    color: black;
    font-family: sans-serif;
}
.info-text > p {
    color: rgb(48, 48, 48);

}
.avatar{
  width: 94px;
  height: 80px;
  object-fit: contain;

}
.avatarQr{
  width: 80px;
    height: 90px;

}
.icon-avatar
{
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 130px;
    opacity: 0.1;
}
.d-relative
{
    position: relative;
}

.info-text > p{
  font-size: 10px;
    display: block;
    height: 20px;
}


.captura-container {
  width: 800px; /* Cambia esto al ancho deseado */
  height: 600px; /* Cambia esto a la altura deseada */
  overflow: hidden;
}

.no-cel{
  display: none;
}

@media only screen and (max-width: 600px) {
  .no-cel {
    display: block !important;
  }
  .escritorio{
    display: none !important;
  }
}
