<div class="p-3" *ngIf="!createShow">
  <p class="w-100 border p-2 rounded border-opacity-10 ">Para crear un evento, simplemente haz clic en cualquier
    recuadro del calendario. Después de hacer clic,
    se te pedirá que ingreses los detalles del evento. ¡No olvides guardar los cambios una vez que hayas terminado!
  </p>
  <full-calendar [events]="events" [options]="calendarOptions" eventClickInfo></full-calendar>
</div>



<div *ngIf="createShow" class="p-3">
  <form action="" [formGroup]="lg">
    <div class="modal-content">
      <div class="modal-header">


      </div>
      <div class="modal-body">


        <div class="row">
          <div class="col-12 col-sm-12 col-xl-6 col-md-12">
            <p>El evento se creara para la fecha <strong>{{data?.dateStr}}.</strong> Para asegurarnos de que
              tengamos todos los detalles necesarios, le pedimos que complete los siguientes campos:</p>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="form-floating mb-3">
                  <input formControlName="nombre" type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Titulo</label>
                </div>
                <p *ngIf="lg.get('nombre').hasError('required')" class="text-danger"> El nombre es obligatorio </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="form-floating">
                  <textarea formControlName="descripcion" class="form-control" placeholder="" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                  <label for="floatingTextarea2">Descripción</label>
                </div>
                <p *ngIf="lg.get('descripcion').hasError('required')" class="text-danger"> La descripción es obligatorio </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xl-12 mt-3">
                <div class="form-floating mb-3">
                  <input formControlName="lugar" type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Lugar</label>
                </div>
                <p *ngIf="lg.get('lugar').hasError('required')" class="text-danger"> El lugar es obligatorio </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-xl-6">
                <label for="">Hora de inicio</label>
                <mat-form-field class="w-100">
                  <input [min]="mintime"  matInput name="selected_time_A" [format]="24" formControlName="hora_inicio"
                    [ngxMatTimepicker]="pickerA" placeholder="12:00" readonly />
                  <mat-icon matSuffix (click)="pickerA.open()">
                    watch_later
                  </mat-icon>
                </mat-form-field>
                <p *ngIf="lg.get('hora_inicio').hasError('required')" class="text-danger"> La hora inicial es obligatorio </p>
                <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
              </div>
              <div class="col-sm-6 col-md-6 col-xl-6">
                <label for="">Hora de finalización</label>
                <mat-form-field class="w-100">
                  <input [min]="lg.value.hora_inicio" matInput name="selected_time_B" placeholder="16:00"
                    [format]="24" formControlName="hora_fin" [ngxMatTimepicker]="pickerB" readonly />
                  <mat-icon matSuffix (click)="pickerB.open()">
                    watch_later
                  </mat-icon>
                </mat-form-field>
                <p *ngIf="lg.get('hora_fin').hasError('required')" class="text-danger"> La hora final es obligatorio </p>
                <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
              </div>
              <div class="col-md-12 col-sm-12 col-xl-6 mt-2 mb-2">
                <section class="example-section">
                  <mat-checkbox class="example-margin" formControlName="obligatorio" (change)="obligacion($event)">Asistencia
                    Obligatoria</mat-checkbox>
                </section>

              </div>
              <div class="col-md-12 col-sm-12 col-xl-5">
                <div class="form-floating mb-3" [ngClass]="{'d-none':!check}">
                  <input  formControlName="obligatorio_cant" type="number" class="form-control" id="floatingInput"
                    >
                  <label for="floatingInput">Monto de la multa</label>
                </div>
                <p *ngIf="lg.get('obligatorio_cant').hasError('required')" class="text-danger"> La monto de la multa es obligatorio </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-xl-6 col-md-12">

            <div class="row border">

              <div class="col-auto col-sm-7 col-md-7 col-xl-7 border ">
                Asunto
              </div>
              <div class="col-auto col-sm-4 col-md-4 col-xl-4  border">
                Categoria
              </div>
            </div>
            <div class="col-12 col-sm-12 col-xl-12">
              <ul class="list-group list-group-flush border scrollspy-example" style="overflow: scroll; height: 50vh;">
                <div (click)="toggleSeleccion(pago)" *ngFor="let pago of listAsunto">
                  <li class="list-group-item cursor " [ngClass]="{'d-none':pago.estado !== 0}"  >
                    <div class="row d-flex"  >
                      <div class="col-auto col-sm-1 col-md-1 col-xl-1 w-auto">
                        <svg [class.text-success]="pago.seleccionado" xmlns="http://www.w3.org/2000/svg" width="16"
                          height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path
                            d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </div>
                      <div class="col-auto col-sm-7 col-md-7 col-xl-7">
                        <span [class.checked]="pago.seleccionado">{{ pago.titulo }}</span>
                      </div>
                      <div class="col-auto col-sm-4 col-md-4 col-xl-4">
                        <span [class.checked]="pago.seleccionado">{{ pago.categoria.nombre }}</span>
                      </div>
                    </div>

                  </li>
                </div>

              </ul>
            </div>
          </div>


        </div>

      </div>


    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal"
        style="margin-right: 10px;">Cerrar</button>
      <button [disabled]="enabled()" (click)="sendEvent()" type="button" class="btn btn-success" data-dismiss="modal">Crear
        evento</button>
      <!-- Add any other buttons you need -->
    </div>
  </form>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
