<div class="p-3">
  <div class="row m-3">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <h2 *ngIf="dataEvent?.estado === 0"> Estado: <span class="text-success">En curso</span></h2>
        <h2 *ngIf="dataEvent?.estado === 1"> Estado: <span class="text-warning">Pendiente</span></h2>
        <h2 *ngIf="dataEvent?.estado === 2"> Estado: <span class="text-danger">Finalizado</span></h2>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6 justify-content-end d-flex">
        <p class="text-center"> {{ percentage.toFixed(0) }}%</p>
      </div>
    </div>
    <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>

  </div>
  <div class="row  p-3">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <h2>{{dataEvent?.nombre}}</h2>
        <hr>
        <p><strong>Fecha: </strong>{{dataEvent?.fecha}}</p>
        <p><strong>Hora de inicio - finalización: </strong>{{dataEvent?.hora_inicio}} - {{dataEvent?.hora_fin}}</p>
        <p><strong>Encargado: </strong> {{dataEvent?.encargado?.nombre}} {{dataEvent?.encargado?.apellido}} </p>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6">
        <h2>Asuntos</h2>
        <hr>
        <div *ngIf="dataAsunto?.length > 0">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let data of dataAsunto" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{data?.titulo}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="p-2">{{data?.descripcion}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        </div>

        <div class="" *ngIf="dataAsunto?.length == 0">
          Sin asuntos asignados
        </div>
      </div>



    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-12 bg-light p-3 rounded-4">

      <div class="row d-flex align-items-center">
        <div class="col-sm-6 col-md-6 col-xl-9">
          <mat-form-field class="w-100">
            <mat-label>Buscador</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nombre o Carnet" #input>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-3 d-flex" style="justify-content: space-around">

          <button [disabled]="dataEvent?.estado === 1 || dataEvent?.estado === 2" (click)="openDialog()" type="button" class="btn btn-success btn-sm"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera"
              viewBox="0 0 16 16">
              <path
                d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
              <path
                d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
            </svg>   Camara</button>
          <button [disabled]="dataEvent?.estado === 1 || dataEvent?.estado === 2" (click)="searchUser()" type="button" class="btn btn-success btn-sm"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>   Buscar</button>

        </div>
      </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort style="overflow-y: hidden;overflow: scroll;width: 100%;display: inline-block;">

          <!-- ID Column -->
          <ng-container matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row">
              <div class="img-avatar"><img src="https://api.otb.otbuniversitarioalto.us/{{row?.usuario?.src_foto}}" alt=""></div>
            </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="nombrecompleto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
            <td mat-cell *matCellDef="let row">
              <p class="text-primary cursor" (click)="viewprofile(row.usuario.id)">{{row.usuario.nombre}} {{row.usuario.apellido}}</p>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="hora_de_registro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora de registro </th>
            <td mat-cell *matCellDef="let row"> {{row.hora}} </td>
          </ng-container>


          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let row">

              <p class="m-0" [ngClass]="{'text-success':row.estado===1,'text-danger':row.estado === 0 }">
                {{row.estado===1?'A tiempo':'No asistio'}}</p>



            </td>
          </ng-container>


          <ng-container matColumnDef="donacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Donacion </th>
            <td mat-cell *matCellDef="let row" > <p *ngIf="row.bono"> {{row.bono.cantidad || '-'}} </p></td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">El dato no existe"{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

  </div>
</div>
